
# VSCode metadata
.vscode

# macOS metadata
.DS_Store

# Compiled Python
__pycache__
*.pyc

# Miscellaneous Python files
venv

# Document output
*.pdf

# Temporary LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
auto
*.fls
*.fdb_latexmk
*.synctex
